name: deploy to staging
on:
  workflow_call:
  
jobs:
    DeployStaging:
     name: Deploy to Staging 
     if: github.event.ref == 'refs/heads/main'
     runs-on: ubuntu-latest
     environment: 
       name: Staging
      
     steps:
       - name: Deploy
         run: echo I am deploying!
